<div class="hotel-box-container">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="../../../assets/images/hotels/{{hotel.image}}" class="image-box-container">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5 hotel-description-box">
    <div class="row">
        <p class="hotel-name">{{hotel.name}}</p>
    </div>
    <div class="row no-margin">
      <div *ngIf="hotel.stars == 1">
          <img src="../../../assets/icons/filters/star-yellow.svg" class="star-image">
      </div>
      <div *ngIf="hotel.stars == 2">
          <img src="../../../assets/icons/filters/star-yellow.svg" class="star-image" *ngFor="let number of [0,1]">
      </div>
      <div *ngIf="hotel.stars == 3">
          <img src="../../../assets/icons/filters/star-yellow.svg" class="star-image" *ngFor="let number of [0,1,2]">
      </div>
      <div *ngIf="hotel.stars == 4">
          <img src="../../../assets/icons/filters/star-yellow.svg" class="star-image" *ngFor="let number of [0,1,2,3]">
      </div>
      <div *ngIf="hotel.stars == 5">
          <img src="../../../assets/icons/filters/star-yellow.svg" class="star-image" *ngFor="let number of [0,1,2,3,4]">
      </div>  
    </div>
    <div class="row no-margin">
      <app-amenities [amenities]="amenities"></app-amenities>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no-padding">
    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center hotel-price-description">Precio por noche por habitación</p>
    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center hotel-price">ARS {{hotel.price}}</p>
    <button type="col-xs-12 col-sm-12 col-md-12 col-lg-12 button">Ver hotel</button>
  </div>
</div>
