<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 header">
    <div class="vertical-align"><img src="../assets/images/logo-almundo.svg" class="logo-header"></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 header">
    </div>
</div>
<div class="row">
  <diV class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 filter-container">
          <div class="filter-text">Filtros</div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 filter-container">
          <img src="../assets/icons/filters/search-blue.svg" class="col-md-3 col-lg-3 search-filter-logo">
          <div class="col-md-8 col-lg-8 hotel-name-filter margin-top-10">Nombre del Hotel</div>
          <div class="col-md-1 col-lg-1 glyphicon glyphicon-triangle-top margin-top-10"></div>
          <input type="text" class="col-xs-12 col-xs-12 col-md-7 col-lg-7 input-filter" placeholder="Ingresa el nombre del hotel">
          <button type="col-xs-12 col-sm-12 col-md-4 col-lg-4 button">Aceptar</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 filter-container">
        <img src="../assets/icons/filters/star-blue.svg" class="col-md-3 col-lg-3 star-filter-logo">
        <div class="col-md-8 col-lg-8 stars-text-filter margin-top-10">Nombre del Hotel</div>
        <div class="col-md-1 col-lg-1 glyphicon glyphicon-triangle-top margin-top-10"></div>
        <div>
            <input type="radio" name="gender" value="male" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 stars-radio-filter" checked>
            <p class="col-xs-12 col-sm-12 col-md-10 col-lg-10 stars-text-radio-filter">Todas las estrellas</p>
        </div>
        <div>
            <input type="radio" name="gender" value="male" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 stars-radio-filter">
            <p class="col-xs-12 col-sm-12 col-md-10 col-lg-10 stars-text-radio-filter">Todas las estrellas</p>
        </div>
        <div>
            <input type="radio" name="gender" value="male" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 stars-radio-filter">
            <p class="col-xs-12 col-sm-12 col-md-10 col-lg-10 stars-text-radio-filter">Todas las estrellas</p>
        </div>
        <div>
            <input type="radio" name="gender" value="male" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 stars-radio-filter">
            <p class="col-xs-12 col-sm-12 col-md-10 col-lg-10 stars-text-radio-filter">Todas las estrellas</p>
        </div>
        <div>
            <input type="radio" name="gender" value="male" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 stars-radio-filter">
            <p class="col-xs-12 col-sm-12 col-md-10 col-lg-10 stars-text-radio-filter">Todas las estrellas</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

      </div>
  </diV>
</div>

